In [3]:
#pip install plotly

# Hypothesis 
<ol> 
<li> A day with no Precipatation and Higher Temperature affect bike riding by increasing the number of bikes crossing brooklyn bridge.

# Null Hypothesis
<ol> 
<li> Precipitation and Temperature does not affect bikers in anyway, no precipatation and higher temperature does not contribute to the number of bikes cross brooklyn bridge.

In [29]:
# Dependencies 
import pandas as pd
import plotly.express as plt
import os
from scipy.stats import ttest_1samp
import numpy as np
import scipy.stats as sts
import plotly.express as px
import statsmodels.api as sm
from sklearn import datasets

In [30]:
bikecounts_file = os.path.join('../','Resources', 'bikecounts.csv')
bikecounts_df = pd.read_csv(bikecounts_file)
bikecounts_df['Day'] = pd.to_datetime(bikecounts_df['Day'])
bikecounts_df.head()

,Unnamed: 0,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
0,0,2016-04-01,2016-04-01,78.1,66.0,0.01,1704.0,3126,4115.0,2552.0,11497
1,1,2016-04-02,2016-04-02,55.0,48.9,0.15,827.0,1646,2565.0,1884.0,6922
2,2,2016-04-03,2016-04-03,39.9,34.0,0.09,526.0,1232,1695.0,1306.0,4759
3,3,2016-04-04,2016-04-04,44.1,33.1,0.47 (S),521.0,1067,1440.0,1307.0,4335
4,4,2016-04-05,2016-04-05,42.1,26.1,0,1416.0,2617,3081.0,2357.0,9471

In [31]:
#checking data type of the columns of the dataframe
bikecounts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           30 non-null     int64
 1   Date                 30 non-null     object
 2   Day                  30 non-null     datetime64[ns]
 3   High Temp (°F)       30 non-null     float64
 4   Low Temp (°F)        30 non-null     float64
 5   Precipitation        30 non-null     object
 6   Brooklyn Bridge      30 non-null     float64
 7   Manhattan Bridge     30 non-null     int64
 8   Williamsburg Bridge  30 non-null     float64
 9   Queensboro Bridge    30 non-null     float64
 10  Total                30 non-null     int64
dtypes: datetime64[ns](1), float64(5), int64(3), object(2)
memory usage: 2.7+ KB

# meteorology
<lo>
<li> In meteorology, a trace T denotes an amount of precipitation, 
<li> such as rain or snow, that is greater than zero, but is too small to be measured by standard units or methods of measurement.
<li> though T values are very small it can still have societal impact using 0.0005 so it can be used among non zero precipitation data

In [32]:
#definig a function which will take away (S) and replace T with 0.0005 when applied
#convert all datatype from object to float

def units_cov(val):
    new_val =val.replace('(S)','').replace('T','0.0005')
    return float(new_val)

In [33]:
#apply the function on the precipation column to make it float64 
bikecounts_df['Precipitation']=bikecounts_df['Precipitation'].apply(units_cov)

In [34]:
#viewing the DF to see the efect of the fuction
bikecounts_df.head()

,Unnamed: 0,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
0,0,2016-04-01,2016-04-01,78.1,66.0,0.01,1704.0,3126,4115.0,2552.0,11497
1,1,2016-04-02,2016-04-02,55.0,48.9,0.15,827.0,1646,2565.0,1884.0,6922
2,2,2016-04-03,2016-04-03,39.9,34.0,0.09,526.0,1232,1695.0,1306.0,4759
3,3,2016-04-04,2016-04-04,44.1,33.1,0.47,521.0,1067,1440.0,1307.0,4335
4,4,2016-04-05,2016-04-05,42.1,26.1,0.00,1416.0,2617,3081.0,2357.0,9471

In [35]:
#rechecking the data types after applying the function
bikecounts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           30 non-null     int64
 1   Date                 30 non-null     object
 2   Day                  30 non-null     datetime64[ns]
 3   High Temp (°F)       30 non-null     float64
 4   Low Temp (°F)        30 non-null     float64
 5   Precipitation        30 non-null     float64
 6   Brooklyn Bridge      30 non-null     float64
 7   Manhattan Bridge     30 non-null     int64
 8   Williamsburg Bridge  30 non-null     float64
 9   Queensboro Bridge    30 non-null     float64
 10  Total                30 non-null     int64
dtypes: datetime64[ns](1), float64(6), int64(3), object(1)
memory usage: 2.7+ KB

In [36]:
#Runing Linear regression model
# Select the independent X (temperature & Precipitation) terms, and the  dependent y (number of bikes) term. 
X = bikecounts_df[['High Temp (°F)','Low Temp (°F)','Precipitation']]
y = bikecounts_df['Brooklyn Bridge']
X = sm.add_constant(X)
model = sm.OLS(y, X)
results = model.fit()

In [37]:
# Print the linear regression results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        Brooklyn Bridge   R-squared:                       0.712
Model:                            OLS   Adj. R-squared:                  0.679
Method:                 Least Squares   F-statistic:                     21.47
Date:                Wed, 24 Mar 2021   Prob (F-statistic):           3.30e-07
Time:                        01:18:23   Log-Likelihood:                -230.47
No. Observations:                  30   AIC:                             468.9
Df Residuals:                      26   BIC:                             474.5
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const           -719.0816    626.284     -1.148      0.261   -2006.427     568.264
High Temp (°F)    77.5475     17.563      4.415      0.000      41.446     113.649
Low Temp (°F)    -33.0644     19.623     -1.685      0.104     -73.401       7.272
Precipitation  -3332.9896   1105.120     -3.016      0.006   -5604.596   -1061.384
==============================================================================
Omnibus:                        1.079   Durbin-Watson:                   1.034
Prob(Omnibus):                  0.583   Jarque-Bera (JB):                0.865
Skew:                          -0.399   Prob(JB):                        0.649
Kurtosis:                       2.767   Cond. No.                         861.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Result 1 
<ol> 
<li> The result opbtained in the linear regression shows the P values, which indicates that High temperatures does affect the number of bikes crossing the bridge, also the precipation affects the number of bikes too.
<li> The p values support the hypothesis and rejects the null hypothesis,
<li> however i cant tell if the day with no precipation increases the bikes count or not, precipitation  pvalues only shows all days.

# seperating a day with no precipitation from a day with precipitation

In [39]:
#making selecting from bikecounts_df only the days that had no precipation
no_preci = bikecounts_df[bikecounts_df['Precipitation']<=0]
no_preci.head()

,Unnamed: 0,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
4,4,2016-04-05,2016-04-05,42.1,26.1,0.0,1416.0,2617,3081.0,2357.0,9471
5,5,2016-04-06,2016-04-06,45.0,30.0,0.0,1885.0,3329,3856.0,2849.0,11919
9,9,2016-04-10,2016-04-10,48.9,30.9,0.0,1447.0,2387,3132.0,2160.0,9126
12,12,2016-04-13,2016-04-13,57.0,39.9,0.0,2840.0,5395,5995.0,4192.0,18422
13,13,2016-04-14,2016-04-14,62.1,44.6,0.0,2861.0,5309,6030.0,4115.0,18315

In [40]:
# Select the independent X (temperature & Precipitation) terms, and the  dependent y (number of bikes) term. 
X = no_preci[['High Temp (°F)','Low Temp (°F)','Precipitation']]
y = no_preci['Brooklyn Bridge']
X = sm.add_constant(X)
model = sm.OLS(y, X)
results = model.fit()

In [41]:
# Print the linear regression results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        Brooklyn Bridge   R-squared:                       0.838
Model:                            OLS   Adj. R-squared:                  0.815
Method:                 Least Squares   F-statistic:                     36.24
Date:                Wed, 24 Mar 2021   Prob (F-statistic):           2.91e-06
Time:                        01:18:53   Log-Likelihood:                -120.00
No. Observations:                  17   AIC:                             246.0
Df Residuals:                      14   BIC:                             248.5
Df Model:                           2
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const           -968.8404    484.904     -1.998      0.066   -2008.856      71.175
High Temp (°F)    34.7322     14.504      2.395      0.031       3.624      65.840
Low Temp (°F)     36.0536     16.187      2.227      0.043       1.337      70.770
Precipitation           0          0        nan        nan           0           0
==============================================================================
Omnibus:                        0.855   Durbin-Watson:                   2.599
Prob(Omnibus):                  0.652   Jarque-Bera (JB):                0.788
Skew:                          -0.302   Prob(JB):                        0.674
Kurtosis:                       2.135   Cond. No.                          inf
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/Users/charlesowusu-ansah/opt/anaconda3/lib/python3.8/site-packages/scipy/stats/stats.py:1603: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=17
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "
/Users/charlesowusu-ansah/opt/anaconda3/lib/python3.8/site-packages/statsmodels/regression/linear_model.py:1860: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(eigvals[0]/eigvals[-1])

# Result 2
<lo>
<li> the results show that when there is no precipitation bike counts increases, more bikes cross the bridge, which support the hypothesis.
<li> the P values shows that when there is no precipation bikers goes out to ride while the temperature high or even cold

In [42]:
#making selecting from DF only the days that had precipation
all_preci = bikecounts_df[bikecounts_df['Precipitation']>0]
all_preci.head()

,Unnamed: 0,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
0,0,2016-04-01,2016-04-01,78.1,66.0,0.01,1704.0,3126,4115.0,2552.0,11497
1,1,2016-04-02,2016-04-02,55.0,48.9,0.15,827.0,1646,2565.0,1884.0,6922
2,2,2016-04-03,2016-04-03,39.9,34.0,0.09,526.0,1232,1695.0,1306.0,4759
3,3,2016-04-04,2016-04-04,44.1,33.1,0.47,521.0,1067,1440.0,1307.0,4335
6,6,2016-04-07,2016-04-07,57.0,53.1,0.09,1276.0,2581,3282.0,2457.0,9596

In [43]:
# Select the independent X (temperature & Precipitation) terms, and the  dependent y (number of bikes) term. 
X = all_preci[['High Temp (°F)','Low Temp (°F)','Precipitation']]
y = all_preci['Brooklyn Bridge']
X = sm.add_constant(X)
model = sm.OLS(y, X)
results = model.fit()

In [44]:
# Print the linear regression results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        Brooklyn Bridge   R-squared:                       0.616
Model:                            OLS   Adj. R-squared:                  0.488
Method:                 Least Squares   F-statistic:                     4.811
Date:                Wed, 24 Mar 2021   Prob (F-statistic):             0.0289
Time:                        01:19:01   Log-Likelihood:                -98.562
No. Observations:                  13   AIC:                             205.1
Df Residuals:                       9   BIC:                             207.4
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const           -339.3751    966.003     -0.351      0.733   -2524.626    1845.875
High Temp (°F)    70.4046     41.347      1.703      0.123     -23.129     163.938
Low Temp (°F)    -40.2528     51.966     -0.775      0.458    -157.809      77.303
Precipitation  -2092.0780   1472.079     -1.421      0.189   -5422.152    1237.996
==============================================================================
Omnibus:                        1.099   Durbin-Watson:                   1.238
Prob(Omnibus):                  0.577   Jarque-Bera (JB):                0.755
Skew:                           0.203   Prob(JB):                        0.685
Kurtosis:                       1.891   Cond. No.                         777.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/Users/charlesowusu-ansah/opt/anaconda3/lib/python3.8/site-packages/scipy/stats/stats.py:1603: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=13
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

# Result 
<lo>
<li> the results show that when there is  precipitation bike counts decreases, less bikes cross the bridge

# Conclusion 
<lo>
  <li> in conclusion, the P Values confirms the hypothesis and reject the null hypothesis
  <li> From the P values the factors the decides more bikes will the brooklyn bridge are Precipitation = 0.00 and Temperature = high